.row{
  margin:0px;  
}

.note{
  padding: 15px;  
  border-radius: 5px;
  border: 1px dashed #000;
  height: auto;
  margin-top: 40px;
}

.btn-add{
  width: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.text{
  margin-top: 10px;  
  background: #FFF;  
}
.btn-close{
  border-radius: 0px 3px 3px 0px !important;
  width: 38px;
  height: 38px;
}